<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 watch-card">
            
            <div class="artist-collage col-md-12">
               
               
               
               
               <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 10px; z-index: 100; background: rgb(41, 41, 41) none repeat scroll 0% 0%; cursor: default; position: absolute; top: 505.283px; left: 943.5px; height: 397px; opacity: 1; display: block;"><div style="position: relative; top: 143px; float: right; width: 10px; height: 254px; background-color: rgb(159, 159, 159); border: 1px solid rgb(159, 159, 159); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div>
               
               
               
               
               
               
               
               
              <div class="overlay">
              <div class="abs-center overlay-card">
              <div class="floated overlay-image">
              <div class="abs-center post-image">
              </div></div>
              <div class="floated overlay-desc">
              <div class="rela-block desc-title">
              </div>
              <div class="rela-block desc-author">
              </div><div class="rela-block desc-desc">
              </div></div></div></div>
              <div class="rela-block container"><div class="rela-block profile-card"><div class="profile-pic" id="profile_pic" style="top: 5px;" ></div><div class="rela-block profile-name-container">
           <br>
              <div class="rela-block user-name" id="user_name">User NAME Here</div>
              
              
